.coin-property-1-usd-coin-usdc,
.coin-property-1-usd-coin-usdc * {
  box-sizing: border-box;
}
.coin-property-1-usd-coin-usdc {
  width: 120px;
  height: 120px;
  position: relative;
}
.coin-property-1-usd-coin-usdc__usd-coin-usdc {
  height: auto;
  position: absolute;
  left: calc(50% - 60px);
  top: 0px;
  overflow: visible;
}
