.property-1,
.property-1 * {
  box-sizing: border-box;
}
.property-1 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  position: relative;
}
.property-1__component-slider-instance {
  align-self: stretch !important;
  flex-shrink: 0 !important;
  width: unset !important;
}
.property-1__frame-70 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.property-1___0 {
  color: var(--text-gry-60percent-b, #666666);
  text-align: left;
  font-family: 'Figtree-Medium', sans-serif;
  font-size: 10px;
  line-height: 12px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.property-1___50 {
  color: var(--text-gry-60percent-b, #666666);
  text-align: left;
  font-family: 'Figtree-Medium', sans-serif;
  font-size: 10px;
  line-height: 12px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.property-1___100 {
  color: var(--text-gry-60percent-b, #666666);
  text-align: left;
  font-family: 'Figtree-Medium', sans-serif;
  font-size: 10px;
  line-height: 12px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
