.component-288-property-1-max,
.component-288-property-1-max * {
  box-sizing: border-box;
}
.component-288-property-1-max {
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 32px;
  position: relative;
}
.component-288-property-1-max__max {
  color: var(--card-title, rgba(0, 0, 0, 0.9));
  text-align: left;
  font-family: 'Figtree-Medium', sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
