
.fr-dialog {
  &.backtest-modal {
    color: var(--text-color);
    h2 {
      color: var(--text-color);
    }
    .back-test-modal-inner {
      overflow: hidden;
      padding-top: 20px;
      .back-days-setting-slider {
        width: 90%;
        margin-bottom: 0;
      }
    }
  }
}
