.page-leveraged-apps {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
  // padding-left: 100px;

  .side-bar {
    // position: sticky;
    // top: 160px;
    // left: 20px;
    width: 100px;
    background: var(--box-bg);
    border-radius: var(--box-radius);
    box-shadow: var(--box-shadow);
    padding: 10px;
    height: fit-content;

    h4 {
      margin-bottom: 20px;
    }
    .side-bar-app-list {
      display: flex;
      flex-direction: column;
      gap: 10px;
      &-item {
        // width: 60px;
        min-height: 40px;
        display: block;
        line-height: 1.4;
        padding: 10px;
        font-size: 12px;
        border-radius: 6px;
        text-align: center;
        cursor: pointer;
        background: #D1AEBA;
        &:hover,
        &.active {
          color: var(--button-color);
          background: var(--antd-primary);
        }
      }
    }
  }

  .dapp-wrapper {
    width: 100%;
    min-height: 60vh;
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    max-width: 1200px;
    min-width: 800px;
    // margin: auto;
    .dapp-wrapper-title {
      margin-bottom: 20px;
    }
    .dapp-wrapper-inner {
      padding: 20px;
      border-radius: 12px;
      background: var(--body-bg);
      // min-height: calc(100% - 50px);
      height: calc(100vh - 250px);
      overflow-y: auto;
    }
  }
}
