.frame1287,
.frame1287 * {
  box-sizing: border-box;
}
.frame1287 {
  height: 1442px;
  position: relative;
}
.frame1276 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  /* width: 1440px; */
  width: 100%;
  max-width: 1440px;
  min-width: 1000px;
}
.quickInfoDefaultInstance {
  flex-shrink: 0 !important;
  /* width: 1440px !important; */
  width: 100%;
}
.lendingAssetsListInstance {
  flex-shrink: 0 !important;
  /* width: 1440px !important; */
  width: 100%;
}
/* .frame134Instance {
  width: 1728px !important;
  position: absolute !important;
  left: calc(50% - 864px) !important;
  top: 0px !important;
} */

/* nested override styles */
.component179Instance {
  align-self: stretch !important;
  flex-shrink: 0 !important;
}
.component180Instance {
  align-self: stretch !important;
  flex-shrink: 0 !important;
}
