.component-slider-property-1-slider-default,
.component-slider-property-1-slider-default * {
  box-sizing: border-box;
}
.component-slider-property-1-slider-default {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 246px;
  position: relative;
}
.component-slider-property-1-slider-default__slider-instance {
  align-self: stretch !important;
  flex: 1 !important;
  width: unset !important;
}
