.tag-property-1-default,
.tag-property-1-default * {
  box-sizing: border-box;
}
.tag-property-1-default {
  background: var(--sliderswitch-back, rgba(120, 120, 128, 0.16));
  border-radius: 2px;
  padding: 2px 4px 2px 4px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  position: relative;
}
.tag-property-1-default___3-x-apy {
  color: var(--text-gry-60percent-b, #666666);
  text-align: left;
  font-family: 'Figtree-Medium', sans-serif;
  font-size: 10px;
  line-height: 12px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
