.oracle-property-1-oracle-d,
.oracle-property-1-oracle-d * {
  box-sizing: border-box;
}
.oracle-property-1-oracle-d {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 12px;
  height: 12px;
  position: relative;
}
.oracle-property-1-oracle-d__image-99 {
  flex-shrink: 0;
  width: 8px;
  height: 8px;
  position: relative;
  object-fit: cover;
}
