
html {
  .ant-table-wrapper {
    .ant-table-column-sorters {
      justify-content: flex-start;
      .ant-table-column-title {
        flex: 0 0 auto;
        color: #666;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
      }
    }
  }

  .ant-dropdown {
    .ant-dropdown-menu {
      .ant-dropdown-menu-item {
        color: var(--text-color);
        &:hover {
          background-color: rgba(#aaa, .1);
        }
      }
    }
  }

  &.dark {
    .ant-switch {
      &:not(.ant-switch-checked) {
        background-color: rgba(#aaa, 0.5);
      }
    }

    .ant-dropdown {
      .ant-dropdown-menu {
        background: rgba(60, 64, 73, 1);
      }
    }
  }
}
