
html {
  .ant-dropdown {
    .ant-dropdown-menu {
      .ant-dropdown-menu-item {
        color: var(--text-color);
        &:hover {
          background-color: rgba(#aaa, .1);
        }
      }
    }
  }

  .ant-radio-group-solid
  .ant-radio-button-wrapper-disabled{
    background-color: var(--text-color-weaker);
  }

  .ant-table-content {
    overflow-x: auto;
  }
  .ant-table{
    color: var(--text-color) !important;
  }
  .ant-table-wrapper{
    table {
      border-collapse: collapse;
    }
    .ant-table-thead {
      >tr {
        >td,
        >th{
          font-weight: normal;
          // color: var(--text-color) !important;
          color: #666;
          font-size: 12px;
          background-color: var(--table-head-bg) !important;
          &:hover{
            background-color:  var(--table-head-bg) !important;
          }
          &::before {
            display: none;
          }
        }

        >th{
          padding: 6px 16px;
          border-radius: 0;
          border-top: .5px solid var(--box-border-color);
          border-bottom: .5px solid var(--box-border-color);
        }
      }
    }

    .ant-table-column-sorters {
      justify-content: flex-start;
      .ant-table-column-title {
        flex: 0 0 auto;
        color: #666;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
      }
      &::after {
        display: none;
      }
    }

    .ant-table-tbody {
      >tr:not(:last-child) >td {
        border-bottom: 0.5px solid var(--box-border-color);
      }
      >tr:last-child >td {
        border-bottom: 0;
      }
    }
  }

  .ant-table-tbody >tr >td.ant-table-cell-row-hover{
    // background-color:  var(--box-bg-hover) !important;
    background-color: #F9F9FA;
  }

  &.dark {
    .ant-switch {
      &:not(.ant-switch-checked) {
        background-color: rgba(#aaa, 0.5);
      }
    }

    .ant-dropdown {
      .ant-dropdown-menu {
        background: rgba(60, 64, 73, 1);
      }
    }

    .ant-table{
      background: transparent !important;
      // color: var(--text-color) !important;
    }
    .ant-table-wrapper td.ant-table-column-sort {
      background-color: transparent;
    }
    .ant-table-wrapper .ant-table-tbody >tr.ant-table-row:hover>td {
      background-color:  var(--box-bg-hover);
    }
    .ant-table-wrapper .ant-table-tbody>tr.ant-table-placeholder,
    .ant-table-wrapper .ant-table-tbody>tr.ant-table-placeholder:hover>td {
      background: transparent !important;
    }
    .ant-empty .ant-empty-description{
      color: #fff;
    }
  }
}
