// @font-face {
//   font-family: 'Figtree';
//   font-weight: normal; // 400
//   src: url('/public/fonts/Figtree/Figtree-VariableFont_wght.ttf') format('truetype');
// }

@font-face {
  font-family: 'Figtree';
  font-weight: normal; // 400
  src: url('/public/fonts/Figtree/static/Figtree-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Figtree';
  font-weight: 300;
  src: url('/public/fonts/Figtree/static/Figtree-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Figtree';
  font-weight: 400;
  src: url('/public/fonts/Figtree/static/Figtree-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Figtree';
  font-weight: 500;
  src: url('/public/fonts/Figtree/static/Figtree-Medium.ttf') format('truetype');
}


@font-face {
  font-family: 'Figtree';
  font-weight: 600;
  src: url('/public/fonts/Figtree/static/Figtree-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Figtree';
  font-weight: 700;
  src: url('/public/fonts/Figtree/static/Figtree-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Figtree';
  font-weight: 800;
  src: url('/public/fonts/Figtree/static/Figtree-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Figtree';
  font-weight: 900;
  src: url('/public/fonts/Figtree/static/Figtree-Black.ttf') format('truetype');
}
