@import './var.scss';
@import './var.ui.scss';
@import './module.scss';
@import './coin.scss';
@import './font.scss';
// @import './iconfont/iconfont.css';
@import url(//at.alicdn.com/t/c/font_3969876_6pf8v2ci1gc.css);
@import './notification.scss';
@import './table.mobile.scss';
@import './antd.scss';
@import './slider.scss';
@import './collapse.scss';
@import './drawer.scss';

.color {
  &-safe{
    color: var(--safe-color) !important;
  }
  &-warn{
    color: var(--warn-color) !important;
  }
  &-danger{
    color: var(--danger-color) !important;
  }
}

.farm-buffer{
  &-safe{
    color: var(--safe-color);
  }
  &-warn{
    color: var(--warn-color);
  }
  &-danger{
    color: var(--danger-color);
  }
}
