.component169Property1Component1,
.component169Property1Component1 * {
  box-sizing: border-box;
}
.component169Property1Component1 {
  background: var(--white, #ffffff);
  border-radius: 6px;
  border-style: solid;
  border-color: var(--stroke, #c9c9cb);
  border-width: 0.5px;
  padding: 4px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  width: 163px;
  position: relative;
  overflow: hidden;
}
.frame7 {
  border-radius: 4px;
  border-style: solid;
  border-color: var(--stroke, #c9c9cb);
  border-width: 0.5px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.08);
  object-fit: cover;
}
.zeroX0E693F19 {
  color: var(--text-black, #000000);
  text-align: center;
  font-family: 'Figtree-Medium', sans-serif;
  font-size: 12px;
  line-height: 24px;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  width: 91px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame6 {
  background: var(--white, #ffffff);
  border-radius: 4px;
  border-style: solid;
  border-color: var(--stroke, #c9c9cb);
  border-width: 0.5px;
  padding: 4px 12px 4px 12px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.08);
}
.gearshape {
  flex-shrink: 0;
  width: 12px;
  height: 12px;
  position: relative;
  overflow: hidden;
}
.group {
  width: 100%;
  height: 99.95%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0.05%;
  top: 0%;
  overflow: visible;
}
