.top-bar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: var(--nav-height);
  line-height: var(--nav-height);
  padding: 0 1em;
  border-bottom: 1px solid var(--nav-border-color);

  &::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(15px);
    // background-color: rgba(#fff, .1);
    z-index: -1;
  }

  @media screen and (max-width: 720px) {
    gap: .6em;
    padding: 0 .4em;
  }

  >p{
    font-size: 24px;
    padding-left: 20px;
  }
}

.nav-menu {
  // background: rgba(#1586FF, .15);
  // background: var(--nav-bg);
  // box-shadow: var(--box-shadow);
  // border-radius: 30px;
  // width: 310px;
  // height: 42px;
  // height: 2.6em;
  height: 100%;
  // min-height: 38px;
  // padding: 8px;
  z-index: 200;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  // gap: .5em;
  gap: 1.5em;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  // box-shadow: var(--nav-box-shadow);
  // border: 2px solid var(--nav-bg);

  @media screen and (max-width: 1350px) {
    left: 120px;
    transform: translateX(0);
    // font-size: 16px;
  }
  @media screen and (max-width: 1100px) {
    left: 110px;
    // font-size: 14px;
  }
  @media screen and (max-width: 900px) {
    font-size: 12px;
    gap: 0em;
    &-item {
      padding: 0 .6em !important;
    }
  }
  @media screen and (max-width: 800px) {
    position: fixed;
    align-items: center;
    justify-content: space-around;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3.2em;
    padding: 0;
    font-size: 16px;
    background: var(--body-bg);
    border-radius: 0;
    border-top: 1px solid var(--nav-border-color);
    box-sizing: content-box;
    padding-bottom: calc(constant(safe-area-inset-bottom));
    padding-bottom: calc(env(safe-area-inset-bottom));
  }
  &-item {
    display: flex;
    align-items: center;
    line-height: 1.4;
    height: 100%;
    // letter-spacing: 1px;
    // font-weight: bold;
    font-weight: normal;
    // font-weight: 600;
    color: var(--text-color);
    transition: all .2s;
    &:hover {
      // color: var(--antd-primary);
      color: #7A87FF;
    }
    &.active {
      // color: var(--button-color);
      // background: var(--antd-primary);

      // color: #7A87FF;
      font-weight: 600;
      border-bottom: 2px solid #7A87FF;
      background: var(--exx, linear-gradient(251deg, #7A87FF -6.77%, #575BBE 100.09%));
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    >p{
      font-size: .9em;
    }

    &-overlay{
      background: var(--body-bg);
      border-radius: 8px;
      .ant-dropdown-menu {
        background: var(--nav-bg) !important;
        box-shadow: var(--nav-box-shadow);
        border: 2px solid var(--nav-bg);
      }

      &-item{
        >p{
          // font-weight: bold;
          font-size: 14px;
          line-height: 2;
        }
      }
    }
  }
}

// $dark-logo: '~@/assets/images/logo/logo_dark_white.png.png';
$light-logo: '/logo.svg';

.nav-logo{
  // position: relative;
  // left: 1em;
  // top: 0;
  margin: 0;
  font-size: 18px;
  &-top{
    display: flex;
    align-items: center;
  }
  &-image{
    display: block;
    font-weight: bold;
    background: url($light-logo) center/contain no-repeat;
    // width: 100px;
    width: 88px;
    // height: 40px;
    height: 24px;
    @media screen and (max-width: 720px) {
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
    @media screen and (max-width: 720px) {
      flex: 0 0 auto;
    }
  }

  &-slogan{
    font-size: 12px;
    line-height: 1;
    font-weight: bold;
    color: var(--text-color-weak);
    white-space: nowrap;

    @media screen and (max-width: 720px) {
      display: none;
    }
  }

  &-tag{
    // transform: translateY(-2px);
    // margin-left: .6em;
    // font-size: 12px;
    font-size: 20px;
    font-style: normal;
    line-height: 1;
    border-radius: 4px;
    padding: 4px 6px;
    background: var(--button-bg);
    color: var(--button-color);

    @media screen and (max-width: 720px) {
      transform: none;
      font-size: 12px;
      margin-left: 2px;
    }
  }
}

.nav-shine-button{
  height: 32px;
  padding: 1px;
  border-radius: 6px;
  background: conic-gradient(from 180deg at 50% 50%, rgba(193, 192, 233, 1) 50.15158474445343deg, rgba(216, 244, 235, 1) 87.62345016002655deg, rgba(241, 241, 232, 1) 148.92220973968506deg, rgba(246, 193, 224, 1) 180.61772346496582deg, rgba(201, 163, 238, 1) 210.4223871231079deg, rgba(182, 208, 249, 1) 251.2942099571228deg, rgba(236, 237, 234, 1) 292.8329586982727deg, rgba(251, 224, 223, 1) 337.83825874328613deg, rgba(184, 209, 249, 1) 348.57048511505127deg, rgba(235, 196, 230, 1) 360deg);
  &-inner{
    padding: 0 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    border-radius: 5px;
    font-size: 12px;
    background: #fff conic-gradient(from 180deg at 50% 50%, rgba(193, 192, 233, 0.20) 50.15158474445343deg, rgba(216, 244, 235, 0.20) 87.62345016002655deg, rgba(241, 241, 232, 0.20) 148.92220973968506deg, rgba(246, 193, 224, 0.20) 180.61772346496582deg, rgba(201, 163, 238, 0.20) 210.4223871231079deg, rgba(182, 208, 249, 0.20) 251.2942099571228deg, rgba(236, 237, 234, 0.20) 292.8329586982727deg, rgba(251, 224, 223, 0.20) 337.83825874328613deg, rgba(184, 209, 249, 0.20) 348.57048511505127deg, rgba(235, 196, 230, 0.20) 360deg);
    transition: .3s ease-in-out;
  }
  &:hover{
    .nav-shine-button-inner{
      background-color: transparent;
    }
  }
}