.component189Property1Frame9,
.component189Property1Frame9 * {
  box-sizing: border-box;
}
.component189Property1Frame9 {
  background: linear-gradient(
    251.41deg,
    rgba(122, 135, 255, 0.08) 0%,
    rgba(87, 91, 190, 0.08) 100%
  );
  border-radius: 4px;
  border-width: 0.5px;
  border-style: solid;
  border-image: var(
    --exx,
    linear-gradient(251.41deg, rgba(122, 135, 255, 1) 0%, rgba(87, 91, 190, 1) 100%)
  );
  border-image-slice: 1;
  padding: 4px 12px 4px 12px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 32px;
  position: relative;
}
.section {
  color: var(--exx, #5767be);
  text-align: center;
  font-family: 'Figtree-Medium', sans-serif;
  font-size: 12px;
  line-height: 24px;
  font-weight: 500;
  position: relative;
  width: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}
