.frame-482074,
.frame-482074 * {
  box-sizing: border-box;
}
.frame-482074 {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
}
.frame-482074__more-detail {
  color: var(--text-black, #000000);
  text-align: center;
  font-family: 'Figtree-SemiBold', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-482074__e-mode-increases-your-ltv-for-a-selected-category-of-assets-meaning-that-when-e-mode-is-enabled-you-will-have-higher-borrowing-power-over-assets-of-the-same-e-mode-category-which-are-defined-by-community-governance-you-can-enter-e-mode-from-your-dashboard-to-learn-more-about-e-mode-and-applied-restrictions-in-faq-or-github {
  color: var(--card-title, rgba(0, 0, 0, 0.9));
  text-align: left;
  font-family: 'Figtree-Medium', sans-serif;
  font-size: 14px;
  line-height: 28px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.e-mode-increases-your-ltv-for-a-selected-category-of-assets-meaning-that-when-e-mode-is-enabled-you-will-have-higher-borrowing-power-over-assets-of-the-same-e-mode-category-which-are-defined-by-community-governance-you-can-enter-e-mode-from-your-dashboard-to-learn-more-about-e-mode-and-applied-restrictions-in-faq-or-github-span {
  color: var(--card-title, rgba(0, 0, 0, 0.9));
  font-family: 'Figtree-Medium', sans-serif;
  font-size: 14px;
  line-height: 28px;
  font-weight: 500;
}
.e-mode-increases-your-ltv-for-a-selected-category-of-assets-meaning-that-when-e-mode-is-enabled-you-will-have-higher-borrowing-power-over-assets-of-the-same-e-mode-category-which-are-defined-by-community-governance-you-can-enter-e-mode-from-your-dashboard-to-learn-more-about-e-mode-and-applied-restrictions-in-faq-or-github-span2 {
  color: var(--card-title, rgba(0, 0, 0, 0.9));
  font-family: 'Figtree-Medium', sans-serif;
  font-size: 14px;
  line-height: 28px;
  font-weight: 500;
  text-decoration: underline;
}
.e-mode-increases-your-ltv-for-a-selected-category-of-assets-meaning-that-when-e-mode-is-enabled-you-will-have-higher-borrowing-power-over-assets-of-the-same-e-mode-category-which-are-defined-by-community-governance-you-can-enter-e-mode-from-your-dashboard-to-learn-more-about-e-mode-and-applied-restrictions-in-faq-or-github-span3 {
  color: var(--card-title, rgba(0, 0, 0, 0.9));
  font-family: 'Figtree-Medium', sans-serif;
  font-size: 14px;
  line-height: 28px;
  font-weight: 500;
}
.e-mode-increases-your-ltv-for-a-selected-category-of-assets-meaning-that-when-e-mode-is-enabled-you-will-have-higher-borrowing-power-over-assets-of-the-same-e-mode-category-which-are-defined-by-community-governance-you-can-enter-e-mode-from-your-dashboard-to-learn-more-about-e-mode-and-applied-restrictions-in-faq-or-github-span4 {
  color: var(--card-title, rgba(0, 0, 0, 0.9));
  font-family: 'Figtree-Medium', sans-serif;
  font-size: 14px;
  line-height: 28px;
  font-weight: 500;
  text-decoration: underline;
}
.e-mode-increases-your-ltv-for-a-selected-category-of-assets-meaning-that-when-e-mode-is-enabled-you-will-have-higher-borrowing-power-over-assets-of-the-same-e-mode-category-which-are-defined-by-community-governance-you-can-enter-e-mode-from-your-dashboard-to-learn-more-about-e-mode-and-applied-restrictions-in-faq-or-github-span5 {
  color: var(--card-title, rgba(0, 0, 0, 0.9));
  font-family: 'Figtree-Medium', sans-serif;
  font-size: 14px;
  line-height: 28px;
  font-weight: 500;
}
.e-mode-increases-your-ltv-for-a-selected-category-of-assets-meaning-that-when-e-mode-is-enabled-you-will-have-higher-borrowing-power-over-assets-of-the-same-e-mode-category-which-are-defined-by-community-governance-you-can-enter-e-mode-from-your-dashboard-to-learn-more-about-e-mode-and-applied-restrictions-in-faq-or-github-span6 {
  color: var(--card-title, rgba(0, 0, 0, 0.9));
  font-family: 'Figtree-Medium', sans-serif;
  font-size: 14px;
  line-height: 28px;
  font-weight: 500;
  text-decoration: underline;
}
.e-mode-increases-your-ltv-for-a-selected-category-of-assets-meaning-that-when-e-mode-is-enabled-you-will-have-higher-borrowing-power-over-assets-of-the-same-e-mode-category-which-are-defined-by-community-governance-you-can-enter-e-mode-from-your-dashboard-to-learn-more-about-e-mode-and-applied-restrictions-in-faq-or-github-span7 {
  color: var(--card-title, rgba(0, 0, 0, 0.9));
  font-family: 'Figtree-Medium', sans-serif;
  font-size: 14px;
  line-height: 28px;
  font-weight: 500;
}
