.page-calculator{
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
  color: #eee;
  background: #666;
  // background: #fff;

  .lightweight-chart {
    padding: 20px 100px;
  }

  .calculator-echarts-wrapper {
    padding: 0 20px;
  }

  .page-calculator-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    h2{
      text-align: center;
      font-size: 28px;
      line-height: 1.4;
    }
    .icon-hint {
      margin-left: 10px;
    }
  }

  .calculator-options {
    position: relative;
    padding: 0 0 20px 0;
  }
  .calculator-options-form {
    // color: #fff;
    justify-content: space-between;
    .ant-form-item {
      margin: 0 20px 20px;
      display: block;
      width: 220px;
      .ant-input-number {
        width: 100%;
        border-radius: 4px;
      }
      .ant-form-item-label {
        display: block;
        text-align: left;
      }
      .ant-form-item-control {
        width: 100%;
        display: block;
      }
    }

    .calculator-setting-slider {
      // width: 45%;
      .ant-form-item-control {
        margin-top: -10px;
      }
      &-leverage {
        flex: 1 0 auto;
      }
      &-days {
        flex: 1 0 auto;
        width: 400px;
        max-width: 100%;
        .ant-form-item-control {
          width: 100%;
        }
      }
    }

    .ant-form-item-label > label {
      // color: #fff;
      span {
        display: flex;
      }
    }
    .ant-select{
      // color: #fff;
      // border: 1px solid #fff;
      // border-radius: 16px;
      border-radius: 4px;
      .ant-select-arrow {
        // color: #fff;
      }
    }

    &-advance {
      .calculator-setting-slider {
        &-leverage {
          flex: 0 0 auto;
        }
      }
    }
  }

  .calculator-options-form-setting {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    .calculator-options-advance-switch {
      display: flex;
      align-items: center;
      margin: 0;
      label {
        // color: #fff;
      }
    }
    .calculator-options-btn-reset {
      margin: 0 0 0 22px;
      // .ant-btn {
      //   border-radius: 4px;
      //   transition: .3s ease-in-out;
      //   &:hover {
      //     background: rgba(#fff, .1) !important;
      //   }
      // }
    }
  }

  .calculator-options-token,
  .calculator-options-pair {
    .ant-select-selection-item {
      display: flex;
      align-items: center;
      i.coin {
        // vertical-align: middle;
        margin-right: 4px;
        &:nth-child(2) {
          margin: 0 .4em 0 .1em;
        }
      }
    }
  }

  .calculator-options-borrow-token {
    .ant-select-selection-item {
      display: flex;
      align-items: center;
      line-height: 2;
      i.coin {
        margin: 0 .4em 0 0;
      }
    }
  }

  .calculator-options-borrow-ratio {
    .ant-slider {
      .ant-slider-rail,
      &:hover .ant-slider-rail{
        // background-color: #5AD379;
      }
      .ant-slider-track,
      &:hover .ant-slider-track {
        // background: #5B83FF;
      }
    }
    .ant-slider-mark {
      .ant-slider-mark-text {
        display: flex;
        align-items: center;
        pointer-events: none;
        max-width: 60%;
        i.coin {
          margin: 0 .2em;
        }
        &:first-child {
          transform: translateX(-30px) !important;
        }
        &:last-child {
          left: auto !important;
          right: 0;
          transform: translateX(30px) !important;
        }
        @media screen and (max-width: 720px) {
          &:first-child {
            transform: translateX(-10px) !important;
          }
          &:last-child {
            transform: translateX(10px) !important;
          }
        }
      }
    }
  }
  .calculator-base-setting {
    display: none;
  }
}

// .slide-down-up {
//   &-enter {
//     opacity: 1;
//     transition: .3s ease-in-out;
//   }
//   &-exit {
//     opacity: 0;
//     height: 0;
//     &-done {
//       opacity: 0;
//       height: 0;
//     }
//   }
// }

.ant-select-item-option-content {
  // display: flex;
  // align-items: center;
  i.coin {
    vertical-align: middle;
    &:last-child {
      margin: 0 .4em 0 .1em;
    }
  }
}

@media screen and (max-width: 720px) {
  .page-calculator {
    .calculator-options-form {
      width: 100%;
      margin: auto;
      justify-content: center;
      // justify-content: space-evenly;
      // justify-content: space-between;
      justify-content: space-around;
      .ant-form-item {
        display: block;
        width: 100%;
        // width: 48%;
        margin: 0 0 .2rem;
        .ant-input-number {
          width: 100%;
        }
        .ant-form-item-label {
          display: block;
          text-align: left;
          font-size: .2rem;
        }
        .ant-form-item-control {
          width: 100%;
          display: block;
        }
      }
  
      .calculator-setting-slider {
        flex: 1 0 auto;
        &-days {
          flex: 2 0 auto;
          .ant-form-item-control {
            width: 100%;
          }
        }
      }
    }

    .calculator-options-form-setting {
      justify-content: center;
      .calculator-options-advance-switch {
        .ant-form-item-label {
          padding: 0;
          margin-right: .2rem;
        }
      }
    }

    .calculator-mark-point {
      right: 5%;
    }
  }
}
