.component-210-property-1-frame-481910,
.component-210-property-1-frame-481910 * {
  box-sizing: border-box;
}
.component-210-property-1-frame-481910 {
  padding: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.component-210-property-1-frame-481910__frame-481905 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 114px;
  position: relative;
}
.component-210-property-1-frame-481910__frame-481914 {
  background: var(--gree, #38ad3d);
  border-radius: 2px;
  align-self: stretch;
  flex-shrink: 0;
  width: 4px;
  position: relative;
  overflow: hidden;
}
.component-210-property-1-frame-481910__group-9 {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: static;
}
.component-210-property-1-frame-481910__coin-instance {
  width: 14.04% !important;
  height: 100% !important;
  position: absolute !important;
  right: 78.95% !important;
  left: 7.02% !important;
  bottom: 0% !important;
  top: 0% !important;
}
.component-210-property-1-frame-481910__usdc {
  color: var(--text-black, #000000);
  text-align: left;
  font-family: 'Figtree-Regular', sans-serif;
  font-size: 10px;
  line-height: 12px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.component-210-property-1-frame-481910__component-199 {
  background: rgba(22, 199, 132, 0.1);
  border-radius: 4px;
  border-style: solid;
  border-color: var(--gree, #38ad3d);
  border-width: 0.5px;
  padding: 2px 4px 2px 4px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.component-210-property-1-frame-481910__lent {
  color: var(--gree, #38ad3d);
  text-align: left;
  font-family: 'Figtree-SemiBold', sans-serif;
  font-size: 8px;
  line-height: 10px;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.component-210-property-1-frame-481910__frame-481906 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 48px;
  position: relative;
}
.component-210-property-1-frame-481910___1-53-k {
  color: var(--gree, #38ad3d);
  text-align: left;
  font-family: 'Figtree-Regular', sans-serif;
  font-size: 10px;
  line-height: 12px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.component-210-property-1-frame-481910__frame-481907 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 64px;
  position: relative;
}
.component-210-property-1-frame-481910__frame-481908 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  width: 48px;
  position: relative;
}
.component-210-property-1-frame-481910___8-15 {
  color: var(--text-gry-60percent-b, #666666);
  text-align: left;
  font-family: 'Figtree-Regular', sans-serif;
  font-size: 10px;
  line-height: 12px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
