.account-balances-supply-property-1-balances-detail,
.account-balances-supply-property-1-balances-detail * {
  box-sizing: border-box;
}
.account-balances-supply-property-1-balances-detail {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
}
.account-balances-supply-property-1-balances-detail__frame-481706 {
  border-style: solid;
  border-color: var(--stroke, #c9c9cb);
  border-width: 0.5px 0px 0.5px 0px;
  padding: 8px 12px 8px 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.account-balances-supply-property-1-balances-detail__account-balances {
  color: var(--card-title, rgba(0, 0, 0, 0.9));
  text-align: left;
  font-family: 'Figtree-Medium', sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.account-balances-supply-property-1-balances-detail__vector {
  flex-shrink: 0;
  width: 6.43px;
  height: 8px;
  position: relative;
  overflow: visible;
}
.account-balances-supply-property-1-balances-detail__frame-481705 {
  border-style: solid;
  border-color: var(--stroke, #c9c9cb);
  border-width: 0px 0px 0.5px 0px;
  padding: 8px 12px 8px 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.account-balances-supply-property-1-balances-detail__frame-481909 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.account-balances-supply-property-1-balances-detail__frame-481905 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 106px;
  position: relative;
}
.account-balances-supply-property-1-balances-detail__asset {
  color: var(--switch-text-unselect, #848383);
  text-align: left;
  font-family: 'Figtree-Regular', sans-serif;
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.account-balances-supply-property-1-balances-detail__frame-481906 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 64px;
  position: relative;
}
.account-balances-supply-property-1-balances-detail__value {
  color: var(--switch-text-unselect, #848383);
  text-align: left;
  font-family: 'Figtree-Regular', sans-serif;
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.account-balances-supply-property-1-balances-detail__frame-481907 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 64px;
  position: relative;
}
.account-balances-supply-property-1-balances-detail__size {
  color: var(--switch-text-unselect, #848383);
  text-align: left;
  font-family: 'Figtree-Regular', sans-serif;
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.account-balances-supply-property-1-balances-detail__frame-481908 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  width: 48px;
  position: relative;
}
.account-balances-supply-property-1-balances-detail__apy {
  color: var(--switch-text-unselect, #848383);
  text-align: left;
  font-family: 'Figtree-Regular', sans-serif;
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.account-balances-supply-property-1-balances-detail__component-210-instance {
  align-self: stretch !important;
  flex-shrink: 0 !important;
}
