.usdc-apy-history,
.usdc-apy-history * {
  box-sizing: border-box;
}
.usdc-apy-history {
  border-style: solid;
  border-color: var(--stroke, #c9c9cb);
  border-width: 0px 0px 0.5px 0px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
}
.usdc-apy-history__usdc-apy-history2 {
  color: var(--text-black, #000000);
  text-align: center;
  font-family: 'Figtree-SemiBold', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.usdc-apy-history__frame-482026 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.usdc-apy-history__frame-482007 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.usdc-apy-history__frame-482019 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.usdc-apy-history__apy-14-d-avg {
  color: var(--text-gry-60percent-b, #666666);
  text-align: left;
  font-family: 'Figtree-Medium', sans-serif;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.usdc-apy-history___7835 {
  background: var(
    --exx,
    linear-gradient(251.41deg, rgba(122, 135, 255, 1) 0%, rgba(87, 91, 190, 1) 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  font-family: 'Figtree-Medium', sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.usdc-apy-history__frame-482005 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.usdc-apy-history__tag-instance {
  flex-shrink: 0 !important;
}
.usdc-apy-history__frame-482006 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.usdc-apy-history__group-481686 {
  align-self: stretch;
  flex-shrink: 0;
  height: 180px;
  position: static;
}
.usdc-apy-history__frame-482015 {
  border-radius: 4px;
  border-style: solid;
  border-color: var(--stroke, #c9c9cb);
  border-width: 0.5px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 153.63px;
  height: 79.92px;
  position: absolute;
  right: 254.37px;
  top: 55px;
  overflow: hidden;
}
.usdc-apy-history__frame-482014 {
  border-style: solid;
  border-color: var(--stroke, #c9c9cb);
  border-width: 0px 0px 0.5px 0px;
  padding: 4px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.usdc-apy-history__date {
  color: var(--text-gry-60percent-b, #666666);
  text-align: left;
  font-family: 'Figtree-Regular', sans-serif;
  font-size: 10px;
  line-height: 12px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.usdc-apy-history__may-29-22-11 {
  color: #000000;
  text-align: left;
  font-family: 'Figtree-Regular', sans-serif;
  font-size: 10px;
  line-height: 12px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.usdc-apy-history__frame-482013 {
  border-style: solid;
  border-color: var(--stroke, #c9c9cb);
  border-width: 0px 0px 0.5px 0px;
  padding: 4px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.usdc-apy-history__apy {
  color: var(--text-gry-60percent-b, #666666);
  text-align: left;
  font-family: 'Figtree-Regular', sans-serif;
  font-size: 10px;
  line-height: 12px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.usdc-apy-history___302 {
  color: #000000;
  text-align: left;
  font-family: 'Figtree-Regular', sans-serif;
  font-size: 10px;
  line-height: 12px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.usdc-apy-history__frame-482012 {
  border-style: solid;
  border-color: var(--stroke, #c9c9cb);
  border-width: 0px 0px 0.5px 0px;
  padding: 4px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.usdc-apy-history__usdc-price {
  color: var(--text-gry-60percent-b, #666666);
  text-align: left;
  font-family: 'Figtree-Regular', sans-serif;
  font-size: 10px;
  line-height: 12px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.usdc-apy-history___1 {
  color: #000000;
  text-align: left;
  font-family: 'Figtree-Regular', sans-serif;
  font-size: 10px;
  line-height: 12px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.usdc-apy-history__frame-482011 {
  padding: 4px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.usdc-apy-history__velo-price {
  color: var(--text-gry-60percent-b, #666666);
  text-align: left;
  font-family: 'Figtree-Regular', sans-serif;
  font-size: 10px;
  line-height: 12px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.usdc-apy-history___0-1581 {
  color: #000000;
  text-align: left;
  font-family: 'Figtree-Regular', sans-serif;
  font-size: 10px;
  line-height: 12px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.usdc-apy-history__group-481685 {
  width: 544px;
  height: 180px;
  position: static;
}
.usdc-apy-history__frame-482008 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 166.57px;
  position: absolute;
  left: 0px;
  top: 50px;
}
.usdc-apy-history___400 {
  color: var(--text-gry-60percent-b, #666666);
  text-align: right;
  font-family: 'Figtree-Medium', sans-serif;
  font-size: 8px;
  line-height: 10px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.usdc-apy-history___300 {
  color: var(--text-gry-60percent-b, #666666);
  text-align: right;
  font-family: 'Figtree-Medium', sans-serif;
  font-size: 8px;
  line-height: 10px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.usdc-apy-history___200 {
  color: var(--text-gry-60percent-b, #666666);
  text-align: right;
  font-family: 'Figtree-Medium', sans-serif;
  font-size: 8px;
  line-height: 10px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.usdc-apy-history___100 {
  color: var(--text-gry-60percent-b, #666666);
  text-align: right;
  font-family: 'Figtree-Medium', sans-serif;
  font-size: 8px;
  line-height: 10px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.usdc-apy-history__frame-482009 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 502.94px;
  position: absolute;
  left: 41.06px;
  top: 220px;
}
.usdc-apy-history___4002 {
  color: var(--text-gry-60percent-b, #666666);
  text-align: left;
  font-family: 'Figtree-Medium', sans-serif;
  font-size: 8px;
  line-height: 10px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.usdc-apy-history___3002 {
  color: var(--text-gry-60percent-b, #666666);
  text-align: left;
  font-family: 'Figtree-Medium', sans-serif;
  font-size: 8px;
  line-height: 10px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.usdc-apy-history___2002 {
  color: var(--text-gry-60percent-b, #666666);
  text-align: left;
  font-family: 'Figtree-Medium', sans-serif;
  font-size: 8px;
  line-height: 10px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.usdc-apy-history___1002 {
  color: var(--text-gry-60percent-b, #666666);
  text-align: left;
  font-family: 'Figtree-Medium', sans-serif;
  font-size: 8px;
  line-height: 10px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.usdc-apy-history__group-481684 {
  width: 511.25px;
  height: 166.57px;
  position: absolute;
  left: 32.74px;
  top: 50px;
  overflow: visible;
}
