.lend-banner{
  color: #fff;
  line-height: 1.5;
  position: relative;

  &-close{
    width: 16px;
    height: 16px;
    position: absolute;
    top: 16px;
    right: 16px;
    border-radius: 4px;
    border: 1px solid var(--box-border-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:hover{
      background-color: rgba(#fff, .2);
    }
  }

  &-item{
    height: 144px;
    background: url('https://extra-static.s3.amazonaws.com/images/x/test/event-bg.png')
      center / cover no-repeat;

    &-mask{
      height: 100%;
      background-color: rgba(#000, .5);
      padding: 24px;
    }
  }

  h4{
    font-size: 24px;
    margin-bottom: 10px;
  }
  p{
    font-size: 14px;
  }
}