.lend-banner{
  color: #fff;
  line-height: 1.5;
  position: relative;
  border-bottom: .5px solid var(--box-border-color);

  &-close{
    width: 16px;
    height: 16px;
    position: absolute;
    top: 18px;
    right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    background: url('./images/icon.svg') center / contain no-repeat;
  }

  &-list{
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 16px 48px 16px 16px;
  }

  &-item{
    flex: 1;
    height: 112px;
    border-radius: 12px;
    background: center / cover no-repeat;

    &:first-child{
      background-image: url('https://extra-static.s3.amazonaws.com/images/x/test/e3.png');
    }
    &:nth-child(2){
      background-image: url('https://extra-static.s3.amazonaws.com/images/x/test/e1.png');
    }

    &:nth-child(3){
      background-image: url('https://extra-static.s3.amazonaws.com/images/x/test/e2.jpeg');
    }

    &-mask{
      height: 100%;
      background-color: rgba(#000, .5);
      padding: 24px;
    }
  }
}