.icon-loading{
  display: block;
  // width: 20px;
  // height: 20px;
  // background: url(~@/assets/images/ic-loading.svg) center/contain no-repeat;
  font-size: 20px;
  text-align: center;
  animation: rotate-ani 1s linear infinite;
  // &.table-loading {
  //   margin-top: 20px !important;
  // }
  @keyframes rotate-ani {
    from{
      transform: rotate(0deg);
    }
    to{
      transform: rotate(360deg);
    }
  }
}
