.dapp-spark {  
  width: 560px;
  margin: auto;
  h3 {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
  }
  .spark-sdai-wrapper {
    margin-top: 20px;
    padding: 20px;
    background: #fff;
    border-radius: 12px;

    .page-newtabs-wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
    }
  }
}
