.intent-box-item{
  width: 160px;
  height: 160px;
  transform-origin: center center;
  transform-style: preserve-3d;
  // transform: rotateX(-5deg) rotateY(-5deg);

  &-title{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-content{
    font-size: 14px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1.2;

    &-platform{
      color: #999;
    }
    &-pool{
      font-size: 14px;
      margin-bottom: 10px;
    }

    &-pricerange{
      &-title{
        color: #999;
      }
    }
  }

  >.face{
    display: none;
    position: absolute;
    width: 160px;
    height: 160px;
    padding: 12px;
    background-color: #f8f8f8;
    border-radius: 8px;
    border: 1px solid #ccc;
    &.front  { transform: translateZ(80px); display: block;}
    &.top    { transform: rotateX( 90deg)  translateZ(80px); }
    &.right  { transform: rotateY( 90deg)  translateZ(80px); }
    &.left   { transform: rotateY(-90deg)  translateZ(80px); }
    &.bottom { transform: rotateX(-90deg)  translateZ(80px); }
    &.back   { transform: rotateY(-180deg) translateZ(80px); }
  }
}