.interest-rate-model,
.interest-rate-model * {
  box-sizing: border-box;
}
.interest-rate-model {
  border-style: solid;
  border-color: var(--stroke, #c9c9cb);
  border-width: 0px 0px 0.5px 0px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
}
.interest-rate-model__borrowing-interest-rate-model {
  color: var(--text-black, #000000);
  text-align: center;
  font-family: 'Figtree-SemiBold', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.interest-rate-model__frame-482027 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.interest-rate-model__frame-482018 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.interest-rate-model__frame-482019 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.interest-rate-model__utilization-rate {
  color: var(--text-gry-60percent-b, #666666);
  text-align: left;
  font-family: 'Figtree-Medium', sans-serif;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.interest-rate-model___1-26 {
  background: var(
    --exx,
    linear-gradient(251.41deg, rgba(122, 135, 255, 1) 0%, rgba(87, 91, 190, 1) 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  font-family: 'Figtree-Medium', sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.interest-rate-model__frame-482003 {
  background: #ffffff;
  border-radius: 4px;
  border-width: 0.5px;
  border-style: solid;
  border-image: var(
    --exx,
    linear-gradient(251.41deg, rgba(122, 135, 255, 1) 0%, rgba(87, 91, 190, 1) 100%)
  );
  border-image-slice: 1;
  padding: 4px 8px 4px 8px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.interest-rate-model__interest-rate-strategy {
  background: var(
    --exx,
    linear-gradient(251.41deg, rgba(122, 135, 255, 1) 0%, rgba(87, 91, 190, 1) 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  font-family: 'Figtree-SemiBold', sans-serif;
  font-size: 10px;
  line-height: 12px;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.interest-rate-model__vector {
  flex-shrink: 0;
  width: 8px;
  height: 8px;
  position: relative;
  overflow: visible;
}
.interest-rate-model__frame-482029 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.interest-rate-model__frame-482024 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.interest-rate-model__frame-482020 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.interest-rate-model__ellipse-284 {
  background: var(
    --exx,
    linear-gradient(251.41deg, rgba(122, 135, 255, 1) 0%, rgba(87, 91, 190, 1) 100%)
  );
  border-radius: 50%;
  flex-shrink: 0;
  width: 6px;
  height: 6px;
  position: relative;
}
.interest-rate-model__borrow-apr-variable {
  color: var(--text-gry-60percent-b, #666666);
  text-align: left;
  font-family: 'Figtree-Medium', sans-serif;
  font-size: 10px;
  line-height: 14px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.interest-rate-model__frame-482021 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.interest-rate-model__ellipse-2842 {
  background: var(--text-gry-60percent-b, #666666);
  border-radius: 50%;
  flex-shrink: 0;
  width: 6px;
  height: 6px;
  position: relative;
}
.interest-rate-model__utilization-rate2 {
  color: var(--text-gry-60percent-b, #666666);
  text-align: left;
  font-family: 'Figtree-Medium', sans-serif;
  font-size: 10px;
  line-height: 14px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.interest-rate-model__frame-482028 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 134px;
  position: relative;
}
.interest-rate-model__group-481688 {
  flex: 1;
  height: 133.99px;
  position: static;
}
.interest-rate-model__frame-482023 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 516px;
  height: 8.94px;
  position: absolute;
  left: 0px;
  top: 125.04px;
}
.interest-rate-model___0 {
  color: var(--text-gry-60percent-b, #666666);
  text-align: right;
  font-family: 'Figtree-Medium', sans-serif;
  font-size: 8px;
  line-height: 10px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.interest-rate-model___25 {
  color: var(--text-gry-60percent-b, #666666);
  text-align: right;
  font-family: 'Figtree-Medium', sans-serif;
  font-size: 8px;
  line-height: 10px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.interest-rate-model___50 {
  color: var(--text-gry-60percent-b, #666666);
  text-align: right;
  font-family: 'Figtree-Medium', sans-serif;
  font-size: 8px;
  line-height: 10px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.interest-rate-model___75 {
  color: var(--text-gry-60percent-b, #666666);
  text-align: right;
  font-family: 'Figtree-Medium', sans-serif;
  font-size: 8px;
  line-height: 10px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.interest-rate-model___100 {
  color: var(--text-gry-60percent-b, #666666);
  text-align: right;
  font-family: 'Figtree-Medium', sans-serif;
  font-size: 8px;
  line-height: 10px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.interest-rate-model__current-1-26 {
  color: var(--text-gry-60percent-b, #666666);
  text-align: left;
  font-family: 'Figtree-Medium', sans-serif;
  font-size: 10px;
  line-height: 12px;
  font-weight: 500;
  position: absolute;
  left: 6.39px;
  top: 18.04px;
  width: 80.47px;
  height: 14.43px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.interest-rate-model__optimal-45 {
  color: var(--text-gry-60percent-b, #666666);
  text-align: left;
  font-family: 'Figtree-Medium', sans-serif;
  font-size: 10px;
  line-height: 12px;
  font-weight: 500;
  position: absolute;
  left: 235.01px;
  top: 2.41px;
  width: 75.36px;
  height: 14.43px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.interest-rate-model__group-481687 {
  width: 516px;
  height: 115.43px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.interest-rate-model__vector-3 {
  width: 516px;
  height: 105.81px;
  position: absolute;
  left: 0px;
  top: 7.21px;
  overflow: visible;
}
.interest-rate-model__line-35 {
  margin-top: -0.5px;
  border-style: dashed;
  border-color: var(--text-gry-60percent-b, #666666);
  border-width: 0.5px 0 0 0;
  width: 81.76px;
  height: 0px;
  position: absolute;
  left: 6.39px;
  top: 33.67px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.interest-rate-model__line-36 {
  margin-top: -0.5px;
  border-style: dashed;
  border-color: var(--text-gry-60percent-b, #666666);
  border-width: 0.5px 0 0 0;
  width: 98.59px;
  height: 0px;
  position: absolute;
  left: 235.01px;
  top: 16.83px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.interest-rate-model__frame-482022 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  flex-shrink: 0;
  height: 115px;
  position: relative;
}
