.supply-windows,
.supply-windows * {
  box-sizing: border-box;
}
.supply-windows {
  padding: 24px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;

  .amount-input {
    width: 100%;
    .amount-input-number {
      background: #fff;
    }
  }
}
.supply-windows__frame-482102 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.supply-windows__frame-482101 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.supply-windows__group-9 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: static;
}
.supply-windows__coin-instance {
  width: 18.32% !important;
  height: 100% !important;
  position: absolute !important;
  right: 81.68% !important;
  left: 0% !important;
  bottom: 0% !important;
  top: 0% !important;
}
.supply-windows__supply-usdc {
  color: var(--card-title, rgba(0, 0, 0, 0.9));
  text-align: left;
  font-family: 'Figtree-SemiBold', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.supply-windows__mode-selector {
  display: flex;
  gap: 4px;
  align-items: center;
  flex-shrink: 0;
  color: var(--switch-text-unselect, #848383);
  font-family: 'Figtree-SemiBold', sans-serif;
  font-size: 16px;
  line-height: 24px;
  user-select: none;
  .supply-windows__mode {
    cursor: pointer;
  }
  .supply-windows__mode-active {
    color: var(--card-title, rgba(0, 0, 0, 0.9));
    font-weight: bold;
  }
}

.supply-windows__frame-482088 {
  background: var(--background, #f9f9fa);
  border-radius: 16px;
  border-style: solid;
  border-color: var(--stroke, #c9c9cb);
  border-width: 0.5px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.supply-windows__frame-481806 {
  border-style: solid;
  border-color: var(--stroke, #c9c9cb);
  border-width: 0px 0px 0.5px 0px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.supply-windows__input-instance {
  align-self: stretch !important;
  flex-shrink: 0 !important;
}
.supply-windows__instance {
  flex-shrink: 0 !important;
  width: 408px !important;
}
.supply-windows__frame-482084 {
  width: 100%;
  background: #ffffff;
  border-radius: 8px;
  border-style: solid;
  border-color: var(--stroke, #c9c9cb);
  border-width: 0.5px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.supply-windows__frame-4820842 {
  border-style: solid;
  border-color: var(--stroke, #c9c9cb);
  border-width: 0px 0.5px 0px 0px;
  padding: 12px 16px 12px 16px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}
.supply-windows__supply-apy {
  color: var(--text-gry-60percent-b, #666666);
  text-align: center;
  font-family: 'Figtree-Regular', sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.supply-windows__frame-482223 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.supply-windows___6-73 {
  color: var(--text-black, #000000);
  text-align: center;
  font-family: 'Figtree-Medium', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.supply-windows__frame-482224 {
  background: var(--background, #f9f9fa);
  border-radius: 12px;
  border-style: solid;
  border-color: var(--stroke, #c9c9cb);
  border-width: 0.5px;
  padding: 4px 8px 4px 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.supply-windows___3-2 {
  color: var(--text-black, #000000);
  text-align: center;
  font-family: 'Figtree-Medium', sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.supply-windows__frame-482225 {
  background: var(--background, #f9f9fa);
  border-radius: 12px;
  border-style: solid;
  border-color: var(--stroke, #c9c9cb);
  border-width: 0.5px;
  padding: 4px 8px 4px 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.supply-windows__frame-481709 {
  padding: 12px 24px 12px 24px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.supply-windows__health-factor {
  color: var(--text-gry-60percent-b, #666666);
  text-align: left;
  font-family: 'Figtree-Regular', sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.supply-windows___1-21 {
  color: var(--text-black, #000000);
  text-align: center;
  font-family: 'Figtree-Medium', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.supply-windows__selcetion-instance {
  background: var(--white, #ffffff) !important;
  border-radius: 8px !important;
  border-style: solid !important;
  border-color: var(--stroke, #c9c9cb) !important;
  border-width: 0.5px !important;
  padding: 8px 12px 8px 12px !important;
  justify-content: space-between !important;
  align-self: stretch !important;
  flex-shrink: 0 !important;
  gap: unset !important;
}
.supply-windows__deposit-info {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.supply-windows__frame-481805 {
  background: #ffffff;
  border-radius: 8px;
  /* border-style: solid; */
  /* border-color: var(--stroke, #c9c9cb); */
  /* border-width: 0.5px; */
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.supply-windows__component-101 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.supply-windows__account-info-instance {
  align-self: stretch !important;
  flex-shrink: 0 !important;
}
.supply-windows__account-balances-supply-instance {
  align-self: stretch !important;
  flex-shrink: 0 !important;
}
.supply-windows__main-instance {
  align-self: stretch !important;
  flex-shrink: 0 !important;
  width: unset !important;
}
/* 
.leverage-mode-setting-wrapper {
  width: 100%;
  border-radius: 8px;
  border: 0.5px solid var(--stroke, #c9c9cb);
  background: #fff;
  .leverage-mode-setting-form {
    padding: 8px 12px;
    border-bottom: 0.5px solid var(--stroke, #c9c9cb);
    color: var(--text-gry-60-b, #666);
    font-size: 12px;
    font-weight: bold;
  }
  .leverage-mode-setting-hint {
    height: 34px;
    padding-left: 12px;
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--switch-text-unselect, #848383);
    font-size: 12px;
    white-space: nowrap;
  }
}
  */

/*
.borrow-risk-hint {
  border-radius: 8px;
  border: 0.5px solid var(--stroke, #c9c9cb);
  padding: 8px;
  display: flex;
  gap: 8px;

  color: var(--card-title, rgba(0, 0, 0, 0.9));
  font-size: 12px;
  line-height: 24px;
  font-weight: 300;
}
  */
/* 
.warn-hint {
  display: block;
  width: 24px;
  height: 24px;
  background: url(./imgs//warn.png) center/contain no-repeat;
} */
