.extrax-account-info {
  // position: sticky;
  // top: calc(var(--nav-height) - 1px);
  // left: 0;
  width: 100%;
  z-index: 200;
  // padding: 16px 0 6px 0;
  // padding: 10px 40px 0;
  // background: var(--root-bg);
  // border-bottom: 1px solid var(--nav-border-color);

  // &::after{
  //   content: '';
  //   position: absolute;
  //   left: 0;
  //   top: 0;
  //   right: 0;
  //   bottom: 0;
  //   backdrop-filter: blur(15px);
  //   // background-color: rgba(#fff, .1);
  //   z-index: -1;
  // }

  &-inner {
    // max-width: 800px;
    width: 100%;
    // padding: 10px;
    margin: 0 auto;
    // width: 100%;
    // height: 80px;
    background: var(--box-bg);
    border-radius: var(--box-radius);
    box-shadow: var(--box-shadow);
    
    &.extrax-account-creator {
      padding: 4px 10px;
      // height: 50px;
      .extrax-account-create-button {
        // width: 400px;
        // height: 42px;
        margin: auto;
        padding: 4px 20px;
        // border-radius: 12px;
        // background: #51C37F;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        // cursor: pointer;
      }
    }

    em {
      font-style: normal;
      font-weight: bold;
      // color: var(--text-highlight-color-pure);
    }
  
    .extrax-account-info-main {
      display: flex;
      // justify-content: center;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      // margin-bottom: 10px;
      padding: 16px;
      height: 56px;
      background: var(--title-back, #F2F2F7);
      // border-radius: 16px 16px 0 0;
      font-size: 14px;
      border-bottom: 0.5px solid var(--stroke, #C9C9CB);
  
      &-account{
        em{
          font-weight: normal;
        }
      }
    }
    .extrax-account-info-detail {
      padding: 0 0;
      display: flex;
      // justify-content: space-between;
      align-items: center;
      // gap: 10px;

      &-item{
        // background-color: rgba(21, 134, 255, 0.15);
        position: relative;
        // flex: 1;
        // border-radius: 8px;
        // padding: 8px;
        padding: 16px;
        height: 96px;
        font-size: 12px;

        span {
          color: var(--text-gry-60-b, #666);
          font-size: 12px;
          font-weight: 400;
          line-height: 1;
        }
        em {
          color: var(--text-black, var(--bgBlack, #000));
          font-size: 20px;
          font-weight: 500;
          line-height: 1;
          display: block;
        }
        // &:not(.extrax-account-info-safety) {
        //   >em {
        //     color: var(--text-highlight-color-pure);
        //   }
        // }
        &:not(:last-child) {
          border-right: 0.5px solid var(--stroke, #C9C9CB);
        }
      }

      .extrax-account-info-deposited {
        display: flex;
        flex-direction: column;
        gap: 8px;
        flex: 1 1 auto;
      }

      .extrax-account-info-credit {
        // width: 300px;
        flex: 1 1 auto;
        gap: 10px;
        svg {
          // margin-left: 30px;
        }
        .tag-percent {
          padding: 4px;
          border-radius: 4px;
          background: #5767BE;
          color: var(--white, #FFF);
          font-size: 14px;
          line-height: 1;
        }
      }
      
      .extrax-account-info-safety,
      .extrax-account-info-credit {
        // padding: 16px;
        b {
          display: flex;
          justify-content: center;
        }
      }
    }
  }

}

.extrax-account-info-health {
  width: 400px;
  // height: 70px;
  flex: 3 1 auto;
  display: flex;
  align-items: center;
  gap: 20px;
  .extrax-account-info-health-factor {
    width: 120px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    em {

    }
    .extrax-account-info-health-judge {
      font-size: 12px;
      font-weight: 500;
    }
  }
  .ltv-wrapper {
    position: relative;
    // margin-top: 20px;
    width: 100%;
    min-width: 200px;
    height: 12px;
    border-radius: 4px;
    background: var(--slider-switch-back, rgba(120, 120, 128, 0.16));
    .ltv-wrapper-item {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      max-width: 100%;
      span {
        position: absolute;
        right: 0;
        transform: translateX(50%);
        bottom: -20px;
        color: #000;
        font-size: 12px;
        white-space: nowrap;
      }
      &-current {
        background: var(--gree, #38AD3D);
        // border-radius: 4px 0 0 4px;
      }
      &-max {
        background: rgba(49, 202, 55, 0.50);
      }
      &-liquidation {
        background: rgba(250, 190, 73, 0.50);
        // border-radius: 4px 0 0 4px;
        span {
          transform: translateX(0);
          bottom: auto;
          top: -20px;
        }
      }
    }
  }
}

.extrax-account-info-leverage,
.extrax-account-info-apr {
  width: 150px;
  flex: 0 0 auto;
  em {
    margin-top: 20px;
    font-size: 24px;
    font-weight: 500;
  }
}

