.extrax-account-info {
  position: sticky;
  top: calc(var(--nav-height) - 1px);
  left: 0;
  width: 100%;
  z-index: 200;
  padding: 10px 0;
  // background: var(--root-bg);
  border-bottom: 1px solid var(--nav-border-color);

  &::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(15px);
    // background-color: rgba(#fff, .1);
    z-index: -1;
  }

  &-inner {
    max-width: 800px;
    padding: 10px;
    margin: 0 auto;
    // width: 100%;
    // height: 80px;
    background: var(--box-bg);
    border-radius: var(--box-radius);
    box-shadow: var(--box-shadow);
  
    em {
      font-style: normal;
      font-weight: bold;
      color: var(--text-highlight-color-pure);
    }
  
    .extrax-account-info-main {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
      gap: 10px;
      font-size: 14px;
  
      &-account{
        em{
          font-weight: normal;
        }
      }
    }
    .extrax-account-info-detail {
      padding: 0 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;

      &-item{
        background-color: rgba(21, 134, 255, 0.15);
        position: relative;
        flex: 1;
        border-radius: 8px;
        padding: 8px;
        text-align: center;
        >b{
          font-size: 12px;
          display: block;
        }
        >em {
          font-style: normal;
          font-weight: normal;
          line-height: 1.5;
          font-size: 24px;
          color: var(--text-highlight-color-pure);
        }
      }

      .extrax-account-info-deposited {
        .btn-base {
          position: absolute;
          right: 12px;
          bottom: 12px;
          width: 40px;
          height: 40px;
          background: url('../../../pages/LeveragedApps/images/add.svg') center / contain no-repeat;
          &:hover{
            filter: brightness(1.1);
          }
        }
      }
    }
  }

}
