.nav-shine-button-inner:hover{
  .networth-list-wrap{
    display: block;
  }
}
.networth-list-wrap{
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(0, 30px);
  display: none;
  padding-top: 12px;
}

.networth-list{
  width: 256px;
  border: .5px solid var(--box-border-color);
  background-color: #fff;
  border-radius: 8px;
  font-size: 12px;
  text-align: left;
  >h2{
    font-size: 12px;
    font-weight: normal;
    padding: 12px;
    border-bottom: .5px solid var(--box-border-color);
  }

  &-main{
    padding: 12px;
    border-bottom: .5px solid var(--box-border-color);
    &-item{
      padding: 4px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &-sub{
        padding-left: 24px;
        .networth-list-main-item{
          position: relative;
          &::before{
            content: '';
            position: absolute;
            display: block;
            width: 1px;
            height: 40px;
            border-left: 1px solid #666;
          }
          &.last{
            &::before{
              height: 16px;
              transform: translateY(-8px);
            }
          }
          >p{
            display: flex;
            align-items: center;
          }
        }
      }

      &-line{
        display: block;
        width: 16px;
        height: 1px;
        border-bottom: 1px solid #666;
      }

      &.active{
        .networth-list-main-item-inner{
          color: #fff;
          background: var(--exx, linear-gradient(251deg, #7A87FF -6.77%, #575BBE 100.09%));
        }
      }

      &-inner{
        padding: 4px 8px;
        border-radius: 4px;
        width: 100%;
      }
    }
  }

  &-btn{
    padding: 12px;
    .btn-base{
      width: 100%;
      line-height: 27px;
      justify-content: center;
    }
  }
}