.slider,
.slider * {
  box-sizing: border-box;
}
.slider {
  background: var(--fill-color-light-secondary, rgba(120, 120, 128, 0.16));
  border-radius: 23px;
  padding: 1px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  width: 246px;
  position: relative;
}
.slider__frame-602 {
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  width: 169px;
  height: auto;
  position: relative;
  overflow: visible;
}
