.lpname{
  display: flex;
  align-items: center;
  >.coin{
    width: 24px;
    height: 24px;
    &:first-child{
      margin-right: -5px;
      position: relative;
      z-index: 1;
    }
    @media screen and (max-width: 720px) {
      width: 14px;
      height: 14px;
    }
  }
  >p{
    @media screen and (max-width: 720px) {
      font-size: 14px;
      margin-left: 6px;
    }
    font-size: 14px;
    margin-left: 8px;
    display: flex;
    align-items: center;
    gap: 4px;
    &.bold{
      font-weight: bold;
      line-height: 1.5;
    }
    .tag-isolated {
      display: flex;
      padding: 2px 4px;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      border: 0.5px solid var(--stroke, #C9C9CB);
      font-size: 10px;
      font-weight: 500;
      line-height: 12px; /* 120% */
    }
  }

  &-new{
    font-size: 16px;
    font-style: normal;
    // transform: translate(0, -5px);
  }

  &-tag{
    display: block;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 1;
    padding: 4px 5px;
    border-radius: 2px;
    margin-left: 4px;
    color: #fff;
    background-color: var(--antd-primary);
  }

  &-lend{
    >.coin{
      width: 32px;
      height: 32px;

      &.points-style{
        pointer-events: none;
        position: relative;
        &::after{
          content: '';
          position: absolute;
          left: 50%;
          top: 50%;
          width: 70px;
          height: 70px;
          transform: translate(-50%, -50%);
          background-image: url('./images/ring_light.png');
          background-position: center;
          background-size: contain;
        }
      }
    }
    >p{
      margin-left: 16px;
    }
  }
}

body.dark{
  .lpname-lend{
    >.coin{
      &.points-style{
        &::after{
          background-image: url('./images/ring_dark.png');
        }
      }
    }
  }
}