.account-info-property-1-composition-d,
.account-info-property-1-composition-d * {
  box-sizing: border-box;
}
.account-info-property-1-composition-d {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.account-info-property-1-composition-d__frame-481706 {
  border-style: solid;
  border-color: var(--stroke, #c9c9cb);
  border-width: 0.5px 0px 0.5px 0px;
  padding: 8px 12px 8px 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.account-info-property-1-composition-d__account-info {
  color: var(--card-title, rgba(0, 0, 0, 0.9));
  text-align: left;
  font-family: 'Figtree-Medium', sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.account-info-property-1-composition-d__vector {
  flex-shrink: 0;
  width: 6.43px;
  height: 8px;
  position: relative;
  overflow: visible;
}
.account-info-property-1-composition-d__frame-481705 {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.account-info-property-1-composition-d__frame-481711 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.account-info-property-1-composition-d__borrowing-power {
  color: var(--switch-text-unselect, #848383);
  text-align: left;
  font-family: 'Figtree-Regular', sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.account-info-property-1-composition-d__frame-481976 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.account-info-property-1-composition-d___331-446-600-0 {
  color: var(--text-gry-60percent-b, #666666);
  text-align: left;
  font-family: 'Figtree-Regular', sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.account-info-property-1-composition-d__subtract {
  flex-shrink: 0;
  width: 8px;
  height: 8px;
  position: relative;
  overflow: visible;
}
.account-info-property-1-composition-d___33-546-600-0 {
  color: var(--text-black, #000000);
  text-align: left;
  font-family: 'Figtree-Regular', sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.account-info-property-1-composition-d__frame-481710 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.account-info-property-1-composition-d__portfolio-apy {
  color: var(--switch-text-unselect, #848383);
  text-align: left;
  font-family: 'Figtree-Regular', sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.account-info-property-1-composition-d__frame-481902 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.account-info-property-1-composition-d___6-73 {
  color: var(--text-gry-60percent-b, #666666);
  text-align: left;
  font-family: 'Figtree-Regular', sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.account-info-property-1-composition-d__subtract2 {
  flex-shrink: 0;
  width: 8px;
  height: 8px;
  position: relative;
  overflow: visible;
}
.account-info-property-1-composition-d___5-84 {
  color: var(--text-black, #000000);
  text-align: left;
  font-family: 'Figtree-Regular', sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.account-info-property-1-composition-d__frame-481709 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.account-info-property-1-composition-d__account-leverage {
  color: var(--switch-text-unselect, #848383);
  text-align: left;
  font-family: 'Figtree-Regular', sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.account-info-property-1-composition-d___1-0-x {
  color: var(--text-gry-60percent-b, #666666);
  text-align: left;
  font-family: 'Figtree-Regular', sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.account-info-property-1-composition-d__subtract3 {
  flex-shrink: 0;
  width: 8px;
  height: 8px;
  position: relative;
  overflow: visible;
}
.account-info-property-1-composition-d___4-7-x {
  color: var(--text-black, #000000);
  text-align: left;
  font-family: 'Figtree-Regular', sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.account-info-property-1-composition-d__frame-4817062 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.account-info-property-1-composition-d__frame-481699 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.account-info-property-1-composition-d__net-worth {
  color: var(--switch-text-unselect, #848383);
  text-align: left;
  font-family: 'Figtree-Regular', sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.account-info-property-1-composition-d__subtract4 {
  flex-shrink: 0;
  width: 8px;
  height: 8px;
  position: relative;
  overflow: visible;
}
.account-info-property-1-composition-d__frame-481702 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.account-info-property-1-composition-d__debt-ratio {
  color: var(--switch-text-unselect, #848383);
  text-align: left;
  font-family: 'Figtree-Regular', sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.account-info-property-1-composition-d___12 {
  color: var(--text-gry-60percent-b, #666666);
  text-align: left;
  font-family: 'Figtree-Regular', sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.account-info-property-1-composition-d__subtract5 {
  flex-shrink: 0;
  width: 8px;
  height: 8px;
  position: relative;
  overflow: visible;
}
.account-info-property-1-composition-d___25 {
  color: var(--text-black, #000000);
  text-align: left;
  font-family: 'Figtree-Regular', sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
