.marketTagProperty1MainMarketTag,
.marketTagProperty1MainMarketTag * {
  box-sizing: border-box;
}
.marketTagProperty1MainMarketTag {
  background: var(
    --exx,
    linear-gradient(251.41deg, rgba(122, 135, 255, 1) 0%, rgba(87, 91, 190, 1) 100%)
  );
  border-radius: 4px;
  padding: 0px 8px 0px 8px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  height: 24px;
  position: relative;
}
.mainMarket {
  color: var(--white, #ffffff);
  text-align: center;
  font-family: 'Figtree-Medium', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
