.component291Property1Tag2,
.component291Property1Tag2 * {
  box-sizing: border-box;
}
.component291Property1Tag2 {
  border-radius: 8px 8px 0px 0px;
  padding: 0px 32px 0px 32px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  height: 48px;
  position: relative;
}
.mainMarket {
  color: var(--card-title, rgba(0, 0, 0, 0.9));
  text-align: center;
  font-family: 'Figtree-SemiBold', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
