.amount-input{
  padding: 16px 0;
  &-nopadding{
    padding: 0;
  }
  &-number{
    border-radius: 8px;
    border: .5px solid var(--border-color);
    &-sub{
      padding: 8px 12px;
    }
    &-wrap{
      border-bottom: .5px solid var(--border-color);
    }
    &-token{
      display: flex;
      align-items: center;
      line-height: 1.2;
      >i{
        margin: 0 5px;
      }
      &-select {
        border: 1px solid var(--button-border-secondary);
        cursor: pointer;
        border-radius: 6px;
        padding: .25em 0;
      }
    }
    &-max{
      font-size: 12px;
      // margin-bottom: 10px;
      // text-align: right;
      span {
        cursor: pointer;
        &:hover{
          text-decoration: underline;
        }
      }
    }

    .amount-input-percent-list {
      display: flex;
      gap: 8px;
      li {
        // display: flex;
        padding: 0 6px;
        // justify-content: center;
        // align-items: center;
        border-radius: 10px;
        // border: 1px solid rgba(255, 255, 255, 0.20);
        border: 1px solid var(--nav-border-color);
        height: 20px;
        line-height: 20px;

        // color: var(--gry, #E2E2E2);
        font-size: 12px;
        cursor: pointer;
        // height: 22px;
        &.amount-input-percent-list-item-customize {
          width: 90px;
          border: 0;
          font-size: 12px;
          padding: 0;
          cursor: auto;
          input {
            display: block;
            height: 100%;
            padding: 4px 6px;
          }
        }
      }

    }

    &-max-button{
      font-size: 12px;
      padding: 2px 6px;
      cursor: pointer;
    }
  }

  &-slider{
    width: 100%;
    margin: 20px auto;
  }

  &-input.ant-input-affix-wrapper {
    border-radius: 24px;
    padding: 9px 12px !important;
    // background-color: rgba(20, 24, 35, 0.4) !important;
    border-color: transparent;
    outline: 0 !important;
    box-shadow: none !important;
    &:hover{
      border-color: transparent !important;
    }

    .ant-input{
      font-size: 18px;
      background-color: transparent;
      // color: #1586FF;
      color: var(--primary-color)
    }
    .ant-input-suffix{
      font-size: 18px;
      color: rgba(#000, .75);
      // color: rgba(#fff, .5);
    }
  }
}

.ant-dropdown.weth-select-overlay {
  .ant-dropdown-menu .ant-dropdown-menu-item {
    padding-left: 0;
    padding-right: 0;
    .amount-input-number-token > i {
      margin-left: 2px;
    }
  }
}

body.dark{
  .amount-input-input.ant-input-affix-wrapper{
    background-color: var(--box-bg-hover);
    background-color: #121212;
    color: var(--text-color);
    .ant-input-suffix{
      color: var(--text-color);
    }
  }
  .ant-slider{
    .ant-slider-mark-text,
    .ant-slider-mark-text-active
    {
      color: var(--text-color);
    }
  }
  .ant-slider .ant-slider-rail{
    // background-color: rgba(var(--antd-primary), .5);
    background-color: var(--antd-primary);
    opacity: .2;
  }
  .ant-form-item .ant-form-item-label >label{
    color: var(--text-color);
  }
}