.info-to-list-property-1-info,
.info-to-list-property-1-info * {
  box-sizing: border-box;
}
.info-to-list-property-1-info {
  border-style: solid;
  border-color: var(--stroke, #c9c9cb);
  border-width: 0px 0.5px 0.5px 0px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  min-height: 100%;
}
.info-to-list-property-1-info__coin-main-instance {
  align-self: stretch !important;
  flex-shrink: 0 !important;
}
.info-to-list-property-1-info__supply-info-instance {
  align-self: stretch !important;
  flex-shrink: 0 !important;
}
.info-to-list-property-1-info__borrow-info-instance {
  align-self: stretch !important;
  flex-shrink: 0 !important;
}
.info-to-list-property-1-info__usdc-apy-history-instance {
  align-self: stretch !important;
  flex-shrink: 0 !important;
}
.info-to-list-property-1-info__interest-rate-model-instance {
  align-self: stretch !important;
  flex-shrink: 0 !important;
}
.info-to-list-property-1-info__frame-482075-instance {
  align-self: stretch !important;
  flex-shrink: 0 !important;
}
