.eventProperty1Event0,
.eventProperty1Event0 * {
  box-sizing: border-box;
}
.eventProperty1Event0 {
  background: #ffffff;
  border-style: solid;
  border-color: var(--stroke, #c9c9cb);
  border-width: 0px 0px 0.5px 0px;
  height: 144px;
  position: relative;
  overflow: hidden;
}
.frame482206 {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  padding: 24px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  /* width: 1440px; */
  width: 100%;
  position: absolute;
  right: 0px;
  bottom: 0px;
  top: 0px;
  overflow: hidden;
}
.frame482216 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.event {
  color: var(--white, #ffffff);
  text-align: left;
  font-family: 'Figtree-SemiBold', sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.theTrunkUsdcPoolOffersIncreasedLtvToAllowALeveragedPositionUpTo4XHigherLeverageComesAtTheCostOfIncreasedLiquidationRiskSoProceedWithCaution {
  color: var(--white, #ffffff);
  text-align: left;
  font-family: 'Figtree-Medium', sans-serif;
  font-size: 14px;
  line-height: 28px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame4822162 {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  border-radius: 0px 8px 8px 0px;
  padding: 24px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1344px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  top: 0px;
  overflow: hidden;
}
.event1 {
  color: var(--white, #ffffff);
  text-align: left;
  font-family: 'Figtree-SemiBold', sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame482215 {
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-end;
  width: 96px;
  position: absolute;
  right: 0px;
  top: 0px;
  overflow: hidden;
}
.frame {
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.frame482217 {
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-end;
  width: 96px;
  height: 88px;
  position: absolute;
  right: 0px;
  top: 56px;
  overflow: hidden;
}
